* {
  font-family: Mulish;
}

.logo-div {
  display: flex;
  align-items: center;
}
.nav-bar {
  margin-left: 325px;
}


.fa-solid.fa-bars {
  visibility: hidden;
}

.fa-solid.fa-magnifying-glass{
  color: #ffffff;
}

.web-logo {
  color: #131318;
  font-size: 36px;

  font-weight: 800;
  padding-left: 16px;
}
.nav-container {
  display: flex;
  align-items: center;
}
ul {
  margin-left: 100px;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
  display: inline;
  padding-left: 40px;

  color: #424247;
  font-size: 18px;

  font-weight: 400;
 
}
.explore-section {
  background-image: url(./images/Group13.png);
  background-repeat: no-repeat;
  padding: 95px 7px;
  margin-left: 328px;
  border-radius: 16px;
}
.web-title {
  color: white;
  font-size: 64px;

  font-weight: 800;
}
.explore-description {
  color: white;
  height: 52px;
    width: 670px;
    padding-bottom: 40px;
  
  
}
.explore-contant{
  padding-left: 301px;
}

.form {
  width: 800px;
  height: 82px;
  background-color: rgba(255, 255, 255, 0.33);
  margin: -32px 232px;
  border-radius: 10px;
}
.header-form{
  padding: 16px;
}
.select, input {
padding: 20px;
border-radius: 10px;
border: none;
margin-left: 24px;
}
.primary-btn{
  padding: 22px 49px;
  background-color: #FF5400;
  border: none;
  color: white;
  border-radius: 10px;
  margin-left: 20px;
}
.btn-text{
  margin-left: 5px;
  

}










/* Responsive Design */
@media screen and (max-width: 600px) {
  .logo-img {
    width: 30px;
  }

  .web-logo {
    font-size: 20px;
    padding-left: 2px;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
  }
  .nav-bar {
    margin-left: 0px;
  }
  ul {
    margin-left: 0px;
    display: none;
  }
  .fa-solid.fa-bars {
    visibility: visible;
  }
  .explore-section {
  
   
    margin-left: 8px;
    border-radius: 16px;
    padding: 40px 10px;

  
  }
  .header-form{
    padding: 0;
  }
  .web-title{
    

 font-size: 22px;


  }
  .explore-description{
    font-size: 14px;
    width: 300px;
    height: 63px;

  }
  .form {
    width: 287px;
    height: 288px;
    background-color: rgba(255, 255, 255, 0.33);
    margin: -23px 41px;
    border-radius: 10px;
  }
  .explore-contant{
    padding-left: 41px;
  }
 
  select, input ,button{
    
    
    
    margin-top: 10px;
    width: 240px;
    }
    input[type="text"]{
      width: 195px;
    }
}
